

<div class="modal fade" id="confirmModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content modal-content-soft">
      <div class="modal-header modal-header-soft">
        <h5 class="modal-title modal-title-soft">Confirm action</h5>
        <button type="button" class="modal-close-btn" data-bs-dismiss="modal" aria-label="Close">&times;</button>
      </div>
      <div class="modal-body modal-body-soft">
        <p id="confirmModalMessage">Are you sure you want to perform this action?</p>
      </div>
      <div class="modal-footer modal-footer-soft">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
        <form id="confirmModalForm" method="post" action="#">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-danger">Confirm</button>
        </form>
      </div>
    </div>
  </div>
</div>
